In [ ]:
Tuple And Methods
tuple is ordered collection of different data type elements
tuple is defines with ()
tuple is immutable
tuple is hetrogenenous data type
tuple is index based and sliceable
tuple allows the duplicate values

In [ ]:
#example
t = (1,2,'a','codegnan',5.5,2,1,[1,23,45],10)

In [2]:
#Intialize empty value
t1 = ()
#multiple values
t2 = (1,2,'a',4.5)
#single values tuple
t3 = (34,)
print(type(t1),type(t2),type(t3))

<class 'tuple'> <class 'tuple'> <class 'tuple'>

In [3]:
#Intialize empty value
t1 = ()
#multiple values
t2 = (1,2,'a',4.5)
#single values tuple
t3 = (34)
print(type(t1),type(t2),type(t3))

<class 'tuple'> <class 'tuple'> <class 'int'>

In [4]:
#indexing and sliceable
t = (1,2,'a','codegnan',5.5,2,1,[1,23,45],10)
print(t[4])
print(t[-4])
print(t[-4:-1])
print(t[-3:2:-1])
print(t[5:100:1])

5.5
2
(2, 1, [1, 23, 45])
(1, 2, 5.5, 'codegnan')
(2, 1, [1, 23, 45], 10)

In [5]:
#tuple reading from user
t = tuple(map(int,input().split()))
print(t)

 2

(2,)

In [7]:
#Tuple Concatenation using + Operator
t1 = (1,2,'hi')
t2 = (3,4,'bye')
t3 = (t1+t2)
print(t3)

(1, 2, 'hi', 3, 4, 'bye')

In [8]:
#tuple repeate using *
t1 = (1,2,'hi')
print(t1*4)

(1, 2, 'hi', 1, 2, 'hi', 1, 2, 'hi', 1, 2, 'hi')

In [ ]:
#Tuple Methods
index(value)-returns index position of value if is present in the tuple otherwise value error
count(value)-return total occurance of a value in tuple

In [18]:
t = (1,2,'a','codegnan',5.5,2,1,[1,23,45],10)
count_1 = t.count(1)
print("count of 1 ele:",count_1)
ind = t.index([1,23,45])
print("Index of [1,23,45]is:" ,ind)

count of 1 ele: 2
Index of [1,23,45]is: 7

In [20]:
t = (1,2,'a','codegnan',5.5,2,1,[1,23,45],10)
count = t.count([1,23,45])
print("count of [1,23,45]ele:",count)

count of [1,23,45]ele: 1

In [22]:
#build in functions
#min(),max(),sum(),len()
t = (1,2,20,50,30,60)
min_val = min(t)
max_val = max(t)
sum_tuple = sum(t)
length = len(t)
print("min value in tuple:",min_val)
print("max value in tuple:",max_val)
print("sum of in tuple:",sum_tuple)
print("length of tuple:",length)

min value in tuple: 1
max value in tuple: 60
sum of in tuple: 163
length of tuple: 6

In [23]:
t = (1,2,20,50,30,60)
t1 = sorted(t)
print(t1)

[1, 2, 20, 30, 50, 60]

In [1]:
#membership operator 
t = (1,2,20,50,30,60)
print(2 in t)
print(255 not in t)

True
True

In [2]:
#list to tuple converion
l = [1,2,3]
t = tuple(l)
print(t)

(1, 2, 3)

In [3]:
t = (1,2,3)
a,b,c = t
print(a,b,c)

1 2 3

In [7]:
t = (1,2,3,4,5,6)
a,*b,c = t
print(a,b,c)

1 [2, 3, 4, 5] 6

In [17]:
t = (1,2,3,4,5,6)
a,*b,c = t
print(type(a),type(b),type(c))

<class 'int'> <class 'list'> <class 'int'>